
# Firebase Admin SDK Configuration
# Go to https://console.firebase.google.com/ and create a new project if you don't have one or the select the project and click on gear icon on left sidebar -> service Account -> Generate Private Key(under Admin SDK)
# Get these values from your Firebase project's service account JSON key file.
# Remember to replace literal newlines in FIREBASE_SERVICE_ACCOUNT_PRIVATE_KEY with \n
FIREBASE_SERVICE_ACCOUNT_TYPE="service_account"
FIREBASE_SERVICE_ACCOUNT_PROJECT_ID="your-project-id"
FIREBASE_SERVICE_ACCOUNT_PRIVATE_KEY_ID="your-private-key-id"
FIREBASE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_CONTENT_HERE\n-----END PRIVATE KEY-----\n"
FIREBASE_SERVICE_ACCOUNT_CLIENT_EMAIL="your-client-email@your-project-id.iam.gserviceaccount.com"
FIREBASE_SERVICE_ACCOUNT_CLIENT_ID="your-client-id"
FIREBASE_SERVICE_ACCOUNT_AUTH_URI="https://accounts.google.com/o/oauth2/auth"
FIREBASE_SERVICE_ACCOUNT_TOKEN_URI="https://oauth2.googleapis.com/token"
FIREBASE_SERVICE_ACCOUNT_AUTH_PROVIDER_X509_CERT_URL="https://www.googleapis.com/oauth2/v1/certs"
FIREBASE_SERVICE_ACCOUNT_CLIENT_X509_CERT_URL="https://www.googleapis.com/robot/v1/metadata/x509/your-client-email%40your-project-id.iam.gserviceaccount.com"
FIREBASE_SERVICE_ACCOUNT_UNIVERSE_DOMAIN="googleapis.com"

# Firebase Realtime Database URL
FIREBASE_DATABASE_URL="https://your-project-id-default-rtdb.firebaseio.com"

# Admin Login Credentials (Example, consider a more secure method for production)
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="securepassword123"

# mail Service for contact form
CONTACT_FORM_RECIPIENT_EMAIL= "your_email"
RESEND_API_KEY="your_resend_api_key" #get from https://resend.com/

